# Default ignored files
/../../../../../../../../../../../../../../..//Users/DIWAKAR/PycharmProjects/sentimental analyzer/.idea/shelf/
/../../../../../../../../../../../../../../..//Users/DIWAKAR/PycharmProjects/sentimental analyzer/.idea/workspace.xml
